In [178]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [179]:
#driver = webdriver.Chrome('chromedriver')

In [180]:
#driver.quit()

# 야구 데이터 지표 용어
## 타자
1. AVG : 타율
2. OPS : 출루율 + 장타율
3. LI : 영향력 지표(주어진 상황이 얼마나 중요한가)
4. WPA : 승리확율기여

In [181]:
driver = webdriver.Chrome('chromedriver')
driver.get("http://www.statiz.co.kr/schedule.php?opt=6&sy=2017")
#경기
driver.find_element(By.XPATH,"/html/body/div/div[1]/div/section[2]/div/div[2]/div/div/div/div[2]/table/tbody/tr[2]/td[6]/div[3]/a[4]").send_keys(Keys.ENTER)
#미리보기
driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/section[2]/div/div[1]/div/div[3]/div/div[2]/table/tbody/tr/td/a[2]").send_keys(Keys.ENTER)

In [182]:
#A팀 상대전적 데이터 크롤링
#def A_data_crawling():
A = []
for i in [3,6,7]:
    data = driver.find_element(By.XPATH,f"/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[1]/div[1]/div/div[2]/table/tbody/tr[{str(i)}]/td[1]").text
    A.append(data)
A.append(driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[1]/div[2]/div/div[2]/table/tbody/tr[7]/td[1]").text)

#raw 데이터에서 시즌 승패 ,투수 최근 30일 ERA 분리하기, 
A.append(A[0].split('-')[0])
A.append(A[0].split('-')[1])
del A[0]
A[2]=A[2].split()[3]

#A팀 타자 데이터 크롤링

['4.11', '5.44', '1.71', '23', '31']

In [183]:
#B팀 데이터 크롤링
#def B_data_crawling():
B = []
for i in [3,6,7]:
    data = driver.find_element(By.XPATH,f"/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[1]/div[1]/div/div[2]/table/tbody/tr[{str(i)}]/td[2]").text
    B.append(data)
B.append(driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div/section[2]/div/div[2]/div[1]/div[2]/div/div[2]/table/tbody/tr[7]/td[2]").text)

#raw 데이터에서 시즌 승패 ,투수 최근 30일 ERA 분리하기, 
B.append(B[0].split('-')[0])
B.append(B[0].split('-')[1])
del B[0]
B[2]=B[2].split()[3]

['5.13', '4.88', '7.50', '25', '27']

In [184]:
print(A)
print(B)

['4.11', '5.44', '1.71', '23', '31']
['5.13', '4.88', '7.50', '25', '27']

In [185]:
df = pd.DataFrame({'A_경기당 득점':A[0],
              'A_경기당 실점':A[1],
              'A_투수30일 ERA':A[2],
              'A_시즌 승':A[3],
              'A_시즌 패':A[4],
              'B_경기당 득점':B[0],
              'B_경기당 실점':B[1],
              'B_투수30일 ERA':B[2],
              'B_시즌 승':B[3],
              'B_시즌 패':B[4],
             },index=[0])

,A_경기당 득점,A_경기당 실점,A_투수30일 ERA,A_시즌 승,A_시즌 패,B_경기당 득점,B_경기당 실점,B_투수30일 ERA,B_시즌 승,B_시즌 패
0,4.11,5.44,1.71,23,31,5.13,4.88,7.50,25,27